<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      列表
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let note of notes" [routerLink]="'/editor/'+note.note_id">
      <ion-avatar slot="start" [innerHTML]="note.note_icon">
      </ion-avatar>
      <ion-label [innerHTML]="note.note_content">
      </ion-label>
      <div class="item-note" slot="end">
        {{note.note_date}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>
