<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      主页
    </ion-title>
    <ion-buttons slot="secondary">
    <ion-button routerLink="/login">
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let note of notes">
    <ion-card-header>
      <img *ngIf="note.note_icon" [src]="note.note_icon">
      <ion-card-title>{{note.user_name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content [innerHTML]="note.note_content">
    </ion-card-content>
  </ion-card>
</ion-content>
